
        <div class="container-fluid foot-ban">
            <div class="row" style="display:flex;">
                <div class="col-sm-4">
                    <h3>Contact us</h3><hr />
                    <h6>Phone: 9999999999</h6>
                    <h6>Telephone: 0123424234</h6>
                    <h6>email: Hostelfindernepal@gmail.com</h6>
                </div>
                <div class="col-sm-4">
                    <h3>About Us</h3>
                    <hr />
                    <p style="text-align: justify;">
                    We are the CSIT student, seeking inspiration, knowledge and skills and utilization it for the welfare of the society.
                    As being a student, we have launched this website especially focusing the students. Generally, we student suffer from
                    finding suitable hostels. So, we thought to built this webpage.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Connect With Us</h3>
                    <hr />
                    <ul class="list-inline">
                        <li><a href="##"><i class="fab fa-google-plus-square" style="font-size:36px;color:white"></i></a></li>
                        <li><a href="##"><i class="fab fa-facebook-square" style="font-size:36px;color:white;"></i></a></li>
                        <li><a href="##"> <i class="fab fa-youtube-square" style="font-size:36px;color:white"></i></a></li>
                        <li><a href="##"><i class="fab fa-twitter-square" style="font-size:36px;color:white;"></i></a></li>
                    </ul>
                    <ul class="list-inline">
                        <li>|<a href="#">Blog</a></li>
                        <li>|<a href="#">Sitemap</a></li>
                        <li>|<a href="#">FAQ</a></li>
                        <li>|<a href="#">View us in map</a></li>
                    </ul>
                </div>
            </div>
        </div>