{% extends 'webpage/nav.html' %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
    <style>
        @media only screen and (max-width: 800px) {
            .container-fluid{
                padding-top:50px !important;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div class="row container-fluid m-auto top-ban home-page-top">
    <form method="get" action="{% if username %}{% url 'webpage:user_student' user_id %}{% else %}{% url 'webpage:homepage'%}{% endif %}" class="col-sm-12 col-md-4 search">
        {% csrf_token %}
        <div class="location">
            <div class="form-group">
                <label for="district">District:</label>
                {{ search_form.district }}
            </div>
            <div class="form-group">
                <label for="street">Street:</label>
                {{ search_form.street }}
            </div>
        </div>
        <div class="hostel-detail">
            <div class="form-group">
                <label for="hostel-type">Type:</label>
                {{ search_form.hostel_type }}

            </div>
            <div class="form-group">
                <label for="seater">Seater:</label>
                {{ search_form.seater_type }}
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                {{ search_form.quantity }}
            </div>
        </div>
        <div class="price-range">
            <div class="form-group" style="width:65%;">
                <label for="range">Price Range:</label>
                <div>
                    {{ search_form.price_range1 }}
                    <span style="float:left;"> &nbsp;to&nbsp; </span>
                    {{ search_form.price_range2 }}
                </div>
            </div>
            <div class="search-btn">
                <button type="submit" class="btn btn-success">SEARCH</button>
            </div>
        </div>
    </form>

    <div id="demo" class="col-sm-12 col-md-8 carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'webpage/images/chicago.jpg' %}" alt="1.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'webpage/images/la.jpg' %}" alt="2.jpg">
        </div>
        <div class="carousel-item">
          <img src="{% static 'webpage/images/ny.jpg' %}" alt="3.jpg">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
</div>
<hr class="seperator">
<div class="container-fluid mid-ban">
    <div class="header">
        <h4>Recommended</h4>
        <p>|</p>
        <h6>Popular Hostels</h6>
    </div>
    <div class="recommends">
         {% if avg_hostels %}
            {% for h in avg_hostels %}
            <div class="col-lg-4 col-md-6 col-sm-12 hostel-box">
                <div class="hostel-box-content">
                    <div class="image-box">
                    {% with image=h.image_set.first %}
                        {% if image.profile_image %}
                                <img src="{{ image.profile_image.url }}" alt="profile_image">
                        {% endif %}
                    {% endwith %}
                    </div>
                    <div class="hostel-content">
                        <h4>{{ h.hostel_name }}</h4>
                        <h6>{{ h.location.street }}, {{ h.location.district }}</h6>
                        <hr>
                        <div class="rating-star">
                            {% with rating=h.rating_set.first %}
                                {% for i in '12345' %}
                                    {% if forloop.counter <= rating.avg %}
                                        <span class="fa fa-star checked" data-rating="{{ forloop.counter }}"></span>
                                    {% else %}
                                        <span class="fa fa-star" data-rating="{{ forloop.counter }}"></span>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <a href="{% url 'webpage:hostel_details' h.pk %}">
                            <button type="button" class="btn btn-success">View Detail</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr class="seperator">
{% if similar_hostels %}
    <div class="container-fluid mid-ban">
        <div class="header">
            <h4>Recommended</h4>
            <p>|</p>
            <h6>Similar Hostels</h6>
        </div>
        <div class="recommends">
                {% for h in similar_hostels %}
                <div class="col-lg-4 col-md-6 col-sm-12 hostel-box">
                    <div class="hostel-box-content">
                        <div class="image-box">
                        {% with image=h.image_set.first %}
                            {% if image.profile_image %}
                                <img src="{{ image.profile_image.url }}" alt="profile_image">
                            {% endif %}
                        {% endwith %}
                        </div>
                        <div class="hostel-content">
                            <h4>{{ h.hostel_name }}</h4>
                            <h6>{{ h.location.street }}, {{ h.location.district }}</h6>
                            <hr>
                            <div class="rating-star">
                                {% with rating=h.rating_set.first %}
                                    {% for i in '12345' %}
                                        {% if forloop.counter <= rating.avg %}
                                            <span class="fa fa-star checked" data-rating="{{ forloop.counter }}"></span>
                                        {% else %}
                                            <span class="fa fa-star" data-rating="{{ forloop.counter }}"></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <a href="{% url 'webpage:hostel_details' h.pk %}">
                                <button type="button" class="btn btn-success">View Detail</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endif %}
<hr class="seperator">
{% if near_hostels %}
    <div class="container-fluid mid-ban">
        <div class="header">
            <h4>Recommended</h4>
            <p>|</p>
            <h6>Hostels Near to {{ student_institute }}</h6>
        </div>
        <div class="recommends">
                {% for h in near_hostels %}
                <div class="col-lg-4 col-md-6 col-sm-12 hostel-box">
                    <div class="hostel-box-content">
                        <div class="image-box">
                        {% with image=h.image_set.first %}
                            {% if image.profile_image %}
                                <img src="{{ image.profile_image.url }}" alt="profile_image">
                            {% endif %}
                        {% endwith %}
                        </div>
                        <div class="hostel-content">
                            <h4>{{ h.hostel_name }}</h4>
                            <h6>{{ h.location.street }}, {{ h.location.district }}</h6>
                            <hr>
                            <div class="rating-star">
                                {% with rating=h.rating_set.first %}
                                    {% for i in '12345' %}
                                        {% if forloop.counter <= rating.avg %}
                                            <span class="fa fa-star checked" data-rating="{{ forloop.counter }}"></span>
                                        {% else %}
                                            <span class="fa fa-star" data-rating="{{ forloop.counter }}"></span>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <a href="{% url 'webpage:hostel_details' h.pk %}">
                                <button type="button" class="btn btn-success">View Detail</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}