{% extends 'webpage/nav.html' %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/hostel_form.css' %}">
    <style>
        .form-header{
            text-transform:uppercase;
            margin-bottom: 20px;
            border: 1px solid grey;
        }
        .form-header h3{
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
<!--<h5 class="col-sm-12" style="margin-top: 60px;">You are first time user, so please you need to register your hostel too.....</h5>-->
<div class="container hostel-form">
    <div class="col-sm-12 form-header">
        <h3>Add Hostel Details</h3>
    </div>
    <form method="POST" class="form" enctype="multipart/form-data" action="{% url 'webpage:user_hostel_owner' user_id %}">
        {% csrf_token %}
        {% bootstrap_form args.hostel_form %}
        <hr>
        {% bootstrap_form args.fee_form %}
        <hr>
        {% bootstrap_form args.room_form %}
        <div class="form-group">
            <label style="visibility:hidden">add button</label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-info" id="add">Add</button>
                </div>
        </div>
        <div id="room_error"></div>
        <div id="room">
            <table class="table">
                <thead>
                    <th>Seater Type</th>
                    <th>Quantity</th>
                    <th>Room Price</th>
                    <th>Available</th>
                </thead>
                <tbody id="room_table">

                </tbody>
            </table>
        </div>
        {% bootstrap_form args.roomDetail_form %}
        <hr>
        {% bootstrap_form args.image_form %}
        <hr>
            <div class="form-group" style="clear:both; position:relative; left:45%; top:10px;">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
    </form>
    <script>
    var arr = [];

    function createJSON(seater_type,quantity,room_price,available){
        arr.push({
            "seater_type" : seater_type,
            "quantity" : quantity,
            "room_price" : room_price,
            "available" : available,
        });

        return arr;
    }

    function createTable(data){
        var room = '';
        var room_json = [];

        for(value in data){
             room += '<tr id="room'+ value +'">';
             room += '<td>'+data[value].seater_type+'</td>';
             room += '<td>'+data[value].quantity+'</td>';
             room += '<td>'+data[value].room_price+'</td>';
             room += '<td>'+data[value].available+
              '<button type="button" class="btn btn-danger"  style="margin-left:50px;"><i class="fas fa-trash-alt"></i></button></td>';
             room += '</tr>';
        }

        $('#room_table').html(room);

        for(value in arr){
            room_json.push({
                "seater_type" : arr[value].seater_type,
                "quantity" : arr[value].quantity,
                "room_price" : arr[value].room_price,
                "available" : arr[value].available,
            });
        }

        $('#room_json').val(JSON.stringify(room_json));
    }

        $('#add').click(function(){

            seater_type = $('#seater_type').val();
            quantity = $('#quantity').val();
            room_price = $('#room_price').val();
            available = $('#available').val();

            if(valid()){
                createJSON(seater_type,quantity,room_price,available);
                console.log(arr);
                createTable(arr);
                $('#room_price').val("");
            }

            function valid(){
                if(room_price == "" || seater_type == 0 || quantity == 0){
                    $('#room_error').html("<p style='color:red;'>please! insert the values.....<p>");

                    if(room_price=="")
                    $('#room_error').append("<p style='color:red;'>* room price required</p>");

                    if(seater_type==0)
                    $('#room_error').append("<p style='color:red;'>* seater type required</p>");

                    if(quantity==0)
                    $('#room_error').append("<p style='color:red;'>* quantity required</p>");

                    return false;
                }

                return true;
            }
        });

        /* for delete */
        $('table').on('click', 'button', function(e){
           id_value = $(this).closest('tr').attr('id');
           index = parseInt(id_value[id_value.length-1]);
           console.log(index);
           delete arr[index];
           createTable(arr);
        })
    </script>
</div>
{% endblock %}