{% extends 'webpage/nav.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
    <style>
        .container{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        {% if user_type == 'Student' %}
            .register .form-group:nth-last-of-type(9){
              width:90%;
            }
            .register .form-group:nth-last-of-type(6){
              width:auto !important;
            }
        {% endif %}

    </style>
{% endblock %}

{% block body %}
    <div class="container top-ban">
        <div class="row ">
            <div class="col-sm-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="{% static 'webpage/images/registration.png' %}" style="width:50%">
                        <h2 class="pt-3">Register As</h2>
                        <h1>
                            {% if user_type == 'Student' %}
                                {{ user_type}}
                            {% else %}
                                Hostel Owner
                            {% endif %}
                        </h1>
                        {% if user_type == 'Student' %}
                            <p>
                                We welcome you to our web application, providing you a platform to find a hostel on this site.
                                You may find your hostel suitable as relative to your interest and you may contact the hostel owner.
                                So, please grab this opportunity, we are here for you.
                            </p>
                        {% else %}
                            <p>
                                We welcome you to our web application, providing you a platform to post your hostel on this site.
                                Hostel seekers may find your hostel suitable as relative to their interest and may contact you.
                                So, please grab this opportunity, we are here for you.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8 py-3 border">
                <h4 class="pb-4">Please fill with your details</h4>
                <form class="register" method="post" action="{% url 'webpage:register_form' user_type %}">
                    {% csrf_token %}
                    {% bootstrap_form form.registration_form %}
                    {% if user_type == 'Student' %}
                        {% bootstrap_form form.student_form %}
                    {% endif %}
                    <div class="form-row m-auto" style="clear:both;">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}