{% extends 'webpage/nav.html' %}
{% load static %}

{% block head %}
    <style>
        body{
            background: #f1f1f1 !important;
        }

        .container{
            background: white;
            margin-top: 20px;
        }

        .hostel_owner, .hostel_seeker{
            padding: 0 !important;
        }

        .hostel_owner{
            border-right: 7px solid #020b1517;
         }

        .hostel_owner .title{
            float: left;
            font-variant: small-caps;
            font-size: 2em;
            font-weight: bold;
            color: #7CCC49;
        }

        .hostel_owner h2{
            text-transform: uppercase;
            font-size: 3rem !important;
            color: #3E9905 !important;
        }

        .paragraph{
            padding: 15px;
        }

        .hostel_seeker .title{
            float:right;
            text-align: right;
            font-variant: small-caps;
            font-size: 2em;
            font-weight: bold;
            color: #5E42FA;
        }

        .hostel_seeker h2{
            text-transform: uppercase;
            font-size: 3rem !important;
            color: #2F42CC !important;
        }

        .hostel_owner p, .hostel_seeker p{
            clear: both;
            text-align: justify;
            color: #636369;
        }

        hr{
            clear: both;
        }

        .button{
            text-align: center;
        }

        .register_btn{
            display: inline-block;
            width: 50%;
            font-weight: bold;
            border-radius: 5px;
            Padding: 10px 5px;
            cursor: pointer;
        }

        .hostel_owner .register_btn{
            border: 2px solid #7CCC49;
            color: #3E9905;
        }

        .hostel_seeker .register_btn{
            border: 2px solid #5E42FA;
            color: #2F42CC;
        }

        .hostel_owner .register_btn:hover, .hostel_owner .image-hostel{
            background: #7CCC49;
            color: white;
        }

        .hostel_seeker .register_btn:hover, .hostel_seeker .image-hostel{
            background: #5E42FA;
            color: white;
        }

        .image-hostel{
            width: 100%;
            height: 250px;
            background: url(img_navsprites.gif) 0 0;
            margin-top:15px;
        }

        .image-hostel img{
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<div class="top-ban">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 hostel_owner">
                <div class="paragraph">
                    <span class="title">Are you <h2>Hostel Owner???</h2></span>
                    <hr>
                    <p>Then we welcome you to our web application, providing you a platform
                        to post your hostel on this site. Hostel seekers may find your hostel
                        suitable as relative to their interest and may contact you. So, please
                        grab this opportunity, we are here for you.</p>

                    <div class="container button">
                        <a href="{% url 'webpage:register_form' 'Hostel_Owner' %}">
                            <div class="register_btn">Register As Hostel Owner</div>
                        </a>
                    </div>
                </div>
                <div class="image-hostel">
                    <img src="{% static 'webpage/images/silhouette1.png' %}">
                </div>
            </div>
            <div class="col-sm-6  hostel_seeker">
                <div class="paragraph">
                    <span class="title">Are you <h2>Seeking Hostel???</h2></span>
                    <hr>
                    <p  dir="rtl"><bdi>Then we welcome you to our web application, providing you a platform
                        to find a hostel on this site. You may find your hostel
                        suitable as relative to your interest and you may contact the hostel owner. So, please
                        grab this opportunity, we are here for you.</bdi></p>
                    <div class="container button">
                        <a href="{% url 'webpage:register_form' 'Student' %}">
                            <div class="register_btn">Register As Hostel Seeker</div>
                        </a>
                    </div>
                </div>
                <div class="image-hostel">
                    <img src="{% static 'webpage/images/silhouette2.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}